@import "tailwindcss";

:root {
  --background: #fff4fa;
  --foreground: #0a0608;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-bricolage);

  --color-brand-pink: #f11787;
  --color-brand-cream: #fff4fa;
  --color-brand-ink: #0a0608;
}

body {
  background: var(--background);
  color: var(--foreground);
}
